<div id="divAccessConfigOptions" class="row salesexpress-line-space">
	<div class="col-sm-12">
		<label for="name">Access Configuration Options</label>
	</div>
</div>
<div class="row" id="divAccessConfigOptionsData">
	<div class="col-sm-3 col-sm-offset-1">
		Physical Interference<select class="form-control" name="accessConfig-physicalInterferenceOptions">
			{%each physicalInterferenceOptions %}
			<option value="${key}">${value}</option> {%/each%}
		</select>
	</div>
	<div class="col-sm-3 col-sm-offset-1">
		Access Interconnect Technology (AIT)<select class="form-control" 
			name="accessConfig-accessInterconnectTechnology">{%each
			accessInterconnectTechnology %}
			<option value="${key}">${value}</option> {%/each%}
		</select>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-3 col-sm-offset-1 salesexpress-line-space">
		Local Access Management<select class="form-control" name="accessConfig-localAccessManagement">{%each
			localAccessManagementOptions %}
			<option value="${key}">${value}</option> {%/each%}
		</select>
	</div>
	<div class="col-sm-3 col-sm-offset-1">
		Access Tail Technology<select class="form-control" name="accessConfig-accessTailTechnology">{%each
			accessTailTechnologyOptions %}
			<option value="${key}">${value}</option> {%/each%}
		</select>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-3 col-sm-offset-1 salesexpress-line-space">
		Access Architecture<select class="form-control" class="form-control"
			name="accessConfig-accessArchitecture">{%each accessArchitectureOptions
			%}
			<option value="${key}">${value}</option> {%/each%}
		</select>
	</div>
	<div class="col-sm-4 col-sm-offset-1" id="divAccessTypeclickApplyMessage"></div>
	<div class="col-sm-2 col-sm-offset-10">
		<button id="btnApplyAccessConfigurationOptions"
			name="btnApplyAccessConfigurationOptions"
			class="btn btn-primary btn-block" type="button">Apply</button>
	</div>
</div>