<div id="divAccessConfigOptions" class="row salesexpress-line-space">
	<div class="col-sm-12">
		<label for="name">Access Configuration Options</label>
	</div>
</div>
<div class="col-sm-4 col-sm-offset-1" id="divAccessTypeclickApplyMessage"></div>
<div id="divAccessConfigOptionsData" class="row">
	<div class="col-sm-11 col-sm-offset-1">To modify access
		configuration options for individual sites, click below</div>
	<div class="col-sm-4 col-sm-offset-1 salesexpress-line-space">
		<button id="btnModifyConfigOptions" name="btnModifyConfigOptions"
			class="btn btn-primary btn-block sachbtn btn-responsive"
			type="button">Modify Configuration Options</button>
	</div>
</div>
<div class="row  salesexpress-line-space" id="divStartPortSpeedConfiguration">
	<div class="col-sm-12">
		<label for="name">What port speed would you like to configure at these sites</label>
		<div class="clearfix"></div>
		(select all sites that have the same port needs)
		<a href="#">(select all sites for this scenario)</a>
	</div>
</div>
<div class="row salesexpress-line-space">
	<div class="col-sm-4  col-sm-offset-1">
		<button id="btnSetDefaultSpeed" name="btnSetDefaultSpeed"
			class="btn btn-primary btn-block sachbtn btn-responsive"
			type="button">Set the same as access speed (Default)</button>
	</div>
	<div class="col-sm-2">
		<button id="btnCustomizePortSpeed" name="btnCustomizePortSpeed"
			class="btn btn-primary btn-block sachbtn btn-responsive"
			type="button">Customize</button>
	</div>
</div>