<div class="nav-side-menu">
	<div class="menu-list">
		<ul id="menu-content" class="menu-content collapse out">
			<li><input type="checkbox" name="chkHeadequarters">
			<h4 style="display: inline;">Headquarters</h4></li>
			<li data-toggle="collapse" data-target="#hq_componet_selection" class="collapsed active">
				<a href="#">
					<span class="sachlefnavheaderspaces"></span>
					<span class="glyphicon glyphicon-plus"></span>
					<span class="sachlefnavheaderspaces">Component Selection</span>
				</a>
			</li>
			<ul class="sub-menu collapse" id="hq_componet_selection">
				<li class="active"><a href="#" id="hqAccessId">Access: (100M Max)</a></li>
				<li><a href="#" id="hqPortId">Port: (100M Max)</a></li>
				<li><a href="#">Features: (not applied)</a></li>
			</ul>
			<li data-toggle="collapse" data-target="#hq_availableProducts" class="collapsed">
					<a href="#">
						<span class="sachlefnavheaderspaces"></span>
						<span class="glyphicon glyphicon-plus"></span>
						<span class="sachlefnavheaderspaces">Available Products</span>
						</a>
				</h5>
			</li>
			<ul class="sub-menu collapse" id="hq_availableProducts">
				<li>Managed Internet Service</li>
				<li>Standalone AVPN</li>
				<li>FBB Express</li>
			</ul>
		</ul>
		
		<hr style="border-top: 1px solid #c5bebe;"></hr>
		
		<ul id="menu-content" class="menu-content collapse out">
			<li><input type="checkbox" name="chkAccountReceivables">
			<h4 style="display: inline;">Account Receivables</h4></li>
			
			<li data-toggle="collapse" data-target="#ar_componet_selection" class="collapsed active">
				<a href="#">
					<span class="sachlefnavheaderspaces"></span>
					<span class="glyphicon glyphicon-plus"></span>
					<span class="sachlefnavheaderspaces">Component Selection</span>
				</a>
			</li>
					
			<ul class="sub-menu collapse" id="ar_componet_selection">
				<li class="active"><a href="#" id="arAccessId">Access: (90M Max)</a></li>
				<li><a href="#" id="arPortId">Port: (90M Max)</a></li>
				<li><a href="#">Features: (not applied)</a></li>
			</ul>
			<li data-toggle="collapse" data-target="#ar_availableProducts" class="collapsed">
					<a href="#">
						<span class="sachlefnavheaderspaces"></span>
						<span class="glyphicon glyphicon-plus"></span>
						<span class="sachlefnavheaderspaces">Available Products</span>
						</a>					
					</li>
			<ul class="sub-menu collapse" id="ar_availableProducts">
				<li>Managed Internet Service</li>
				<li>Standalone AVPN</li>
				<li>FBB Express</li>
			</ul>
		</ul>
		
		<hr style="border-top: 1px solid #c5bebe;"></hr>
			<ul id="menu-content" class="menu-content collapse out">
			<li><input type="checkbox" name="chkDistributionCenter">
			<h4 style="display: inline;">DistributionCenter</h4></li>
			
			<li data-toggle="collapse" data-target="#dc_componet_selection" class="collapsed active">
				<a href="#">
					<span class="sachlefnavheaderspaces"></span>
					<span class="glyphicon glyphicon-plus"></span>
					<span class="sachlefnavheaderspaces">Component Selection</span>
				</a>
			</li>
					
			<ul class="sub-menu collapse" id="dc_componet_selection">
				<li class="active"><a href="#" id="dcAccessId">Access: (45M Max)</a></li>
				<li><a href="#" id="dcPortId">Port: (45M Max)</a></li>
				<li><a href="#">Features:(not applied)</a></li>
			</ul>
			<li data-toggle="collapse" data-target="#dc_availableProducts" class="collapsed">
					<a href="#">
						<span class="sachlefnavheaderspaces"></span>
						<span class="glyphicon glyphicon-plus"></span>
						<span class="sachlefnavheaderspaces">Available Products</span>
						</a>					
					</li>
			<ul class="sub-menu collapse" id="dc_availableProducts">
				<li>AVPN Over LightSpeed</li>
				<li>Standalone AVPN</li>
				<li>VPN Value Bundle</li>
			</ul>
		</ul>
		<hr style="border-top: 1px solid #c5bebe;"></hr>
	</div>
</div>

