<div class="clearfix"></div>
<div class="row salesexpress-content-margin">
	<div class="col-sm-12">
		<label for="name">Do you have service needs at any of your sites?</label>
	</div>
</div>
<div class="row">
	<div class="radio col-sm-11 col-sm-offset-1">
		<label> <input type="radio" name="serviceConfig-serviceRequired"
			id="serviceRequiredNo" value="false" checked="checked"> No
		</label>
	</div>
	<div class="radio col-sm-11 col-sm-offset-1">
		<label> <input type="radio" name="serviceConfig-serviceRequired"
			id="serviceRequiredYes" value="true"> Yes
		</label>
	</div>
</div>
