<script>

$(document).ready(function() {
	$("#btnConfimModalClose").click(function() {
		try { $("div.modal-backdrop").remove(); } catch(ex) {}
	});
});


</script>

<div class="row" id="displayConfirmModalAddToCart">
	<!-- Trigger the modal with a button -->
	<button type="button" id="btndisplayConfirmModalAddToCart"
		style="display: none;" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
		data-target="#dispConfirmAddToCartModal">Open Modal</button>
	<!-- Modal -->
	<div class="modal fade" id="dispConfirmAddToCartModal" role="dialog">
		<div class="modal-dialog" style="left:-7.0%;">
			<!-- Modal content-->
			<div class="modal-content" style="width:800px; top:250px;">
				<div class="modal-header" style="text-align:center">
					<button type="button" id="btnConfimModalClose" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body" style="text-align: center;">
				 <a href="#">
          			<span class="glyphicon glyphicon-ok" style="color:green; font-size: 15px;"></span>
        		</a>
					<strong>${designName} (${speed}, $${mrc}/mo)</strong> <p>has been successfully added to the Cart.</p>
				</div>
				<div class="modal-footer" style="text-align:center" id="modal-footer">
				 <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnViewCartAndCheckout" 
					onclick="onClickViewCartAndCheckout();" style="float: left;" link="${url}">View Cart and Checkout <span class="glyphicon glyphicon-shopping-cart"></span>
				</button>
					<input type="button" value="Check Other Offers" data-dismiss="modal" class="btn btn-primary" style="float: right;">
					
				</div>
			</div>
		</div>
	</div>
</div>