<div class="row salesexpress-line-space" id="divOnBtnCustomize" >
	<div class="col-sm-12">
		<label for = "name">If you would like to filter your access by access type, use drop down below</label>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-12">
		<select name="accessConfig-selectAccessType" id="selectAccessType" class="form-control"
			multiple="multiple" data-native-menu="false">
			{%each(prop, val) accessSpeeds%}			
			<option value="${prop}">${val.displayValue}</option> 
			{%/each%}
		</select>
	</div>
	<div class="col-sm-12 salesexpress-line-space">
		<label for = "name">Move the slider below to choose the desired speed <font color="red">(Speed is in Bits Per Second)</font></label>
	</div>
	<div class="col-sm-1">
	<input type="text" name="accessConfig-sliderSpeedValue" class="form-control"
				readonly="readonly" id="sliderSpeedValue">
	</div>
	<div class="col-sm-4">
		<span class="form-control salesexpress-no-border salesexpress-no-box-shadow" id="divMRCNRC"></span>
	</div>		
    <div class="clearfix"></div>

	<div class="col-sm-12">
			<span id="divSelectedAccessTypes" class="form-control salesexpress-no-border salesexpress-no-box-shadow"></span>
	</div>
	<div class="col-sm-4"><div id="divSliderAccessSpeed"></div></div>
	<div class="clearfix"></div>
	<div class="col-sm-4"><img id="imgAccessType" class="img-responsiveCCC" alt="" src="${contextPath}/images/ethernet.png" height="100px" width="100%"></div>
</div>
