<div class="clearfix"></div>
<div class="salesexpress-line-space">

<div id="showPackages">
  <h4>Credit And Customer Info</h4>
  <br/>
  <div class="panel panel-default">
  <div class="panel-heading">Customer Legal Info</div>
  <div class="panel-body">
       <div class="col-lg-4">
        <label class="form">Customer Legal Name</label>
        <input class="form-control" id="ex2" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex2">City</label>
        <input class="form-control" id="ex2" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex3">Country</label>
        <input class="form-control" id="ex3" type="text">
      </div>
           <div class="col-xs-4">
        <label for="ex1">Street Address</label>
        <input class="form-control" id="ex1" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex2">State/Province</label>
        <input class="form-control" id="ex2" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex3">Zip/Postal Code</label>
        <input class="form-control" id="ex3" type="text">
      </div>
    </div>
</div>
<br/>
<div class="panel panel-default">
  <div class="panel-heading">AT&T Sales Contact Info</div>
  <div class="panel-body">
       <div class="col-lg-4">
        <label class="form">Contact Name</label>
        <input class="form-control" id="ex2" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex2">Country</label>
        <input class="form-control" id="ex2" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex3">Branch Manager</label>
        <input class="form-control" id="ex3" type="text">
      </div>
           <div class="col-xs-4">
        <label for="ex1">Street Address</label>
        <input class="form-control" id="ex1" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex2">Telephone</label>
        <input class="form-control" id="ex2" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex3">Sales Strata</label>
        <input class="form-control" id="ex3" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex3">City</label>
        <input class="form-control" id="ex3" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex3">Fax</label>
        <input class="form-control" id="ex3" type="text">
      </div>
      <div class="col-xs-4">
        <label for="ex3">Sales Region</label>
        <input class="form-control" id="ex3" type="text">
      </div>
    </div>
</div>
<br/>
</div>
	<div class="col-sm-3 col-sm-offset-4" id="divGenerateContractAlert">
 	</div>
 	<div class="col-sm-3 col-sm-offset-4" id="divShowAlertGenerateContract">
		<input type="button" id="btnGenerateContract"  name="btnGenerateContract" class="btn btn-primary btn-block" value="Generate Contract">
	</div>
</div>