<div class="clearfix"></div>
<div class="row sachgooglemapdivrow">
	<div id="sachgooglemapdiv" class="sachgooglemapdivclass"></div>
</div>
<div class="clearfix"></div>

<div id="over_map" class="sachbuttonsonmap" style="text-align: center;">
	<div class="button-wrapper">
		<a href="${contextPath}/user/solutionTemplate#/stepWizard" class="btn btn-primary" role="button">Solution Template</a>
		&nbsp; &nbsp;
		<button type="button" class="btn btn-primary">Product/Bundle
			Filter</button>
		&nbsp; &nbsp;
		<button type="button" class="btn btn-primary" id="btnGuidedSelling">Guided Selling</button>
	</div>
</div>

