<div class="clearfix"></div>
<div class="row sachgooglemapdivrow">
	<div id="sachgooglemapdiv" class="sachgooglemapdivclass"></div>
</div>
<div class="clearfix"></div>

<div id="over_map" class="sachbuttonsonmap" style="text-align: center;">
	<div class="button-wrapper">
		<button type="button" class="btn btn-primary">Solution
			Template</button>
		&nbsp; &nbsp;
		<button type="button" class="btn btn-primary">Product/Bundle
			Filter</button>
		&nbsp; &nbsp;
		<button type="button" class="btn btn-primary">Guided Selling</button>
	</div>
</div>
