<div class="row salesexpress-line-space">
	<div class="col-sm-12">
		<label for = "name">G. Move the slider below to choose the desired speed <font color="red">(Speed is in Bits Per Second)</font></label>
	</div>
	<div class="col-sm-1">
	<input type="text" name="portConfig-sliderPortSpeedValue" class="form-control"
				readonly="readonly" id="sliderPortSpeedValue">
	</div>
	<div class="col-sm-4">
		<span class="form-control salesexpress-no-border salesexpress-no-box-shadow" id="portConfig-divMRCNRC"></span>
	</div>		
	<div class="clearfix"></div>
	
	<div class="col-sm-12">
		<span id="divSelectedPortOption" class="form-control salesexpress-no-border salesexpress-no-box-shadow"></span>
	</div>
	<div class="col-sm-4"><div id="divSliderPortSpeed"></div></div>
	<div class="clearfix"></div>
	<div class="col-sm-4"><img id="imgPortOption" class="img-responsiveCCC" alt="" src="${contextPath}/images/scdapb.png" height="100px" width="100%"></div>
	<div id="divPortConfigOptions" class="salesexpress-line-space">
		<div class="col-sm-12">
			<br/>
			<label for="name">H. Port Configuration Options</label>
		</div>
	</div>
</div>

<div class="row" id="divPortConfigOptionsData">
	<div class="col-sm-3">
		Port Type<select class="form-control" name="portConfig-portType">
			{{each portConfiguration.portType}}
					<option value="${key}">${value}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-sm-3">
		Routing Protocol<select class="form-control" 
			name="portConfig-routingProtocol">{{each
			portConfiguration.routingProtocol }}
					<option value="${key}">${value}</option>
			{{/each}}
		</select>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-3">
		Port Protocol<select class="form-control" name="portConfig-portProtocol">{{each
			portConfiguration.portProtocol }}
					<option value="${key}">${value}</option>
			{{/each}}
		</select>
	</div>
	<div class="col-sm-3">
		IP Version<select class="form-control" name="portConfig-ipVersion">{{each
			portConfiguration.ipVersion }}
					<option value="${key}">${value}</option>
			{{/each}}
		</select>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-3">
		Rate Plan<select class="form-control" class="form-control"
			name="portConfig-ratePlan">{{each portConfiguration.ratePlan	}}
					<option value="${key}">${value}</option>
			{{/each}}
		</select>
	</div>
	<div class="clearfix"></div>

	<div class="col-sm-12 salesexpress-line-space">
		<label for = "name">I. Resiliency Options</label>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-6">
		<select name="resiliencyConfig-selectResiliencyOption" id="resiliencyConfig-selectResiliencyOption" class="form-control">
			<option value="-1">Select</option>
			{%each portConfiguration.resiliencyOptions%}
			<option value="${key}">${value}</option> {%/each%}
		</select>
	</div>
	<div class="col-sm-4" id="divPortConfigClickApplyMessage"></div>
	
	<div class="clearfix"></div>
	<div class="col-sm-2 col-sm-offset-10">
		<button id="btnApplyPortConfigurationOptions"
			name="btnApplyPortConfigurationOptions"
			class="btn btn-primary btn-block" type="button">Apply</button>
		 <button id="btnProceedToFeatures"
			name="btnProceedToFeatures"
			class="btn btn-primary btn-block" style="display: none;" 
			type="button">Proceed to Features</button>
			
			
	</div>
</div>