<div class="row salesexpress-line-space" id="div_select_speed_configure_options">
	<div class="col-sm-12">
		<label for="name">What access speed would you like to configure at these sites</label>
		<div class="clearfix"></div>
		(select all sites that have the same access needs)
	</div>
</div>
<div class="row salesexpress-line-space">
	<div class="col-sm-3 col-sm-offset-1">
		<button id="btnSetSiteMaxSpeeds" name="btnSetSiteMaxSpeeds" class="btn btn-primary btn-block sachbtn btn-responsive"
			type="button">Site Max Speeds</button>
	</div>
	<div class="col-sm-4">
		<button id="btnSetGreatestCompatibleSpeeds" name="btnSetGreatestCompatibleSpeeds"
			class="btn btn-primary btn-block sachbtn btn-responsive" type="button">Set Greatest
			Compatible Speeds</button>
	</div>
	<div class="col-sm-3">
		<button id="btnCustomize" name="btnCustomize" class="btn btn-primary btn-block sachbtn btn-responsive"
			type="button">Customize</button>
	</div>
	<div class="clearfix"></div>
</div>