<script>
	var blnBvoipNeeded = false;
	$(document).ready(function() {
		blnBvoipNeeded = false;
		
		$("#bvoipNeeded").click(function () {
		    if ($(this).prop('checked')) {
		    	blnBvoipNeeded = true;
		    	$("#showDivBvoipFeature").css('display','inline');
		    } else {
		    	blnBvoipNeeded = false;
		    	$("#showDivBvoipFeature").css('display','none');
		    }
		});
		
		$("#securityNeeded").click(function() {
			if ($(this).prop('checked')) {
		    	$("#securityFeature").css('display','inline');
		    } else {
		    	$("#securityFeature").css('display','none');
		    }
		
		});

		/*
		 * This function will be called only when user has selected 250MBPS, MIS Express and 36 Months Term period.
		 * On this selection the system will recommend user wuth VVB Express product with same 250MPBS speed with term period of 36 months.
		 */
		if (blnCameHereFromRecommendation) {
			blnCameHereFromRecommendation = false;
			$("#btnCustomizeGCData").click();
			$("select[name='portSpeedListForGC']").val("250 MBPS");
			$("select[name='contractTermForGC']").val("36 Months");
			$("select[name='contractTermForGC']").change();
			$("#btnApplyGCData").click();
		}
	});
</script>

<div class="row" id="displaySelectedRowModal">
	<!-- Trigger the modal with a button -->
	<button type="button" id="btnDisplayRowSelectModal"
		style="display: none;" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
		data-target="#dispRowSelectModal">Open Modal</button>
	<!-- Modal -->
	<div class="modal fade" id="dispRowSelectModal" role="dialog">
		<div class="modal-dialog" style="left:-7.0%;">
			<!-- Modal content-->
			<div class="modal-content" style="width:800px;">
				<div class="modal-header" style="text-align:center">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Offer Design Details</h4>
				</div>
				<div class="modal-body">
					<h4>Design Parameters</h4>
					<table class="table table-striped">
						{{each(i, item) $data}}
							{{if ( i == 'IP VERSION' || i == 'MANAGED ROUTER' || i == 'PORT SPEED') }}
								{{if (i == 'IP VERSION' || i == 'PORT SPEED') }}
									{{if (i == 'IP VERSION') }}
										<tr>
											<td> ${i} </td>
											<td id="displayIpVersionTd"> 
										    	${item}
		    								 </td>
		    							</tr>
		    						{{else}}
		    							<tr>
											<td> ${i} </td>
											<td id="displayPortSpeedList"> 
										    	${item}
		    								 </td>
		    							</tr>
		    						{{/if}}		
								{{else}}
								<tr>
									<td> ${i} </td>
									<td id="displayManagedRouterType">
										${item}
										</td>
								</tr>	
								{{/if}}
							{{else}}
								{{if (i =='MRC' || i=='NRC') }}
									{{if i == 'MRC'}}
									<tr>
										<td> ${i} </td>
										<td id="displayMRC"> ${item} </td>
									</tr>
									{{else}}
									<tr>
										<td> ${i} </td>
										<td id="displayNRC"> ${item} </td>
									</tr>
									{{/if}}	
								{{else}}
									{{if (i =='TERM' || i=='TERM') }}
										<tr>
											<td>TERM</td>
											<!-- <td id="displayContractTermList">${item}</td> -->
											<td id="displayContractTermList">12 Months</td>
										</tr>
									{{else}}	
									{{if i =='ACCESS TYPE' }}
										<tr>
											<td> ${i} </td>
											<!-- <td id="displayContractTermList">${item}</td> -->
											<td>Ethernet</td>
										</tr>
									{{else}}
										{{if i == "OFFER NAME" }}
											<tr>
												<td> ${i} </td>
												<td id="offerNameValue"> ${item} </td>
											</tr>
										{{else}}
										<tr>
											<td> ${i} </td>
											<td> ${item} </td>
										</tr>
									{{/if}}
									{{/if}}
									{{/if}}		
								{{/if}}	
							{{/if}}	
						{{/each}}
						
						<tr>
							<td>Add Voice Feature 
							</td>
							<td><input type="checkbox" name="bvoipNeeded" id="bvoipNeeded">
								<div id="showDivBvoipFeature" style="display: none;">
								<select name="bvoipVoiceFeature" class="form-control" id="selectBvoipVoiceFeature" style="width:60%; margin-top: 1px;">
									<option value="callingPlanB">Calling Plan B
									<option value="CallingPlanC">Calling Plan C
								</select>
								<br>
								<input type="text" placeholder="Concurrent Calls" id="txtConcurrentCall" class="form-control" style="width:60%; margin-top: 1px;">
								</div>	
							</td>
						</tr>
						<tr>
							<td>Add Security Feature 
							</td>
							<td ><input type="checkbox" name="securityNeeded" id="securityNeeded">
								<select name="securityFeature" class="form-control" id="securityFeature" style="width:60%; margin-top: 1px; display: none;">
									<option value="cloudBasedSecurity">Cloud Based Security
									<option value="firewall">Firewall
									<option value="wirelessBasedSecurity">Wireless Based Security
								</select>
							</td>
						</tr>						
					</table>
					
<!--  					<hr>
 					<h4>Customer Legal Info</h4>
					<table class="table table-striped">
							<tr>
								<td>LEGAL NAME</td>
								<td>Michael Rodrigues</td>
							</tr>
							<tr>
								<td>STREET ADDRESS</td>
								<td>123, Race street</td>
							</tr>
							<tr>
								<td>CITY</td>
								<td>Philadelphia</td>
							</tr>
							<tr>
								<td>STATE</td>
								<td>PA</td>
							</tr>
							<tr>
								<td>POSTAL CODE</td>
								<td>19301</td>
							</tr>
					</table>
 -->				   </div>
				<div class="modal-footer" style="text-align:center" id="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					<input type="button" class="btn btn-primary" id="btnCustomizeGCData" value="Customize" onclick="onClickCustomizeGCData();">
					<input type="button" class="btn btn-primary" data-dismiss="modal" id="btnModalGenContract" value="Proceed To Contract Preview" onclick="onClickProceedToGenContract();">
				</div>
			</div>
		</div>
	</div>
</div>
