<div class="clearfix"></div>
<div class="row salesexpress-content-margin">
	<div class="col-sm-12">
		<label for="name">Do you have service needs at any of your sites?</label>
	</div>
</div>
<div class="row">
	<div class="radio col-sm-5  col-sm-offset-1">
		<label> <input type="radio" name="serviceConfigServiceRequired"
			id="serviceRequiredNo" value="false" checked="checked"> No
		</label>
	</div>
	<div class="radio col-sm-2 col-sm-offset-4">
		<button id="btnRefreshServicesAndFeatures" name="btnRefreshServicesAndFeatures" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Reload Services</button>
	</div>	
	<div class="radio col-sm-11 col-sm-offset-1">
		<label> <input type="radio" name="serviceConfigServiceRequired"
			id="serviceRequiredYes" value="true"> Yes
		</label>
	</div>
</div>
