<div class="col-sm-12 div_securityService_tmpl" id="div_securityService">
		
		<label for="name">Security Services</label>
		
		 <div class="row">
		    <div class="col-sm-3 " style=""><input type="checkbox" id="securityService_vpn" name="securityService_vpn" value="Virtual Private Network"> Virtual Private Network</div>
		   	<div class="clearfix"></div>
		    <div id ="securityService_vpn_features" style="display: none;">
				    <div class="col-sm-3" style=""> Do you want to add VPN?</div>
						<div class="row" id="securityService_selectVPN">
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="securityService_selectVPN_required" id="" value="Yes"> Yes</label>
								</div>
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="securityService_selectVPN_required" id="" value="No"> No</label>
								</div>
						</div>
						<div class="col-sm-3" style=""> Additional Features</div>
						<div class="row" id="">
								<div class="row col-sm-11 col-sm-offset-1">
									<div class="col-sm-6 " style=""><input type="checkbox" name="securityService_af_cbs" id="securityService_af_cbs"value="Cloud Based Security"> Cloud Based Security</div>
									<div class="col-sm-6 " style=""><input type="checkbox" name="securityService_af_fw"id="securityService_af_fw"value="Firewall"> Firewall</div>
								</div>
						</div>
						<div class="row" id="">
								<div class="row col-sm-11 col-sm-offset-1">
									<div class="col-sm-6 " style=""><input type="checkbox" name="securityService_af_wbs" id="securityService_af_wbs"value="Wireless Based Security"> Wireless Based Security</div>
									
								</div>
						</div>
				</div>	
		 </div> 
		  
</div>