<div class="col-sm-12" id="div_dataService">
		
		<label for="name">Data</label>
		
		 <div class="row">
		    <div class="col-sm-3 " style=""><input type="checkbox" id="dataService_performance" name="dataService_performance" value="Performance"> Performance</div>
		      <div class="clearfix"></div> 
		    <div id="dataService_performance_features" style="display : none;">
			    <div class="col-sm-3 " style=""> Select your type of CoS</div>
					<div class="row" id="dataService_performanceCos">
						<div class="radio col-sm-11 col-sm-offset-1">
							<label> <input type="radio" name="dataService_performanceCos_type" id="" value="Port Level"> Port Level</label>
						</div>
						<div class="radio col-sm-11 col-sm-offset-1">
							<label> <input type="radio" name="dataService_performanceCos_type" id="" value="VLAN Level"> VLAN Level</label>
						</div>
					</div>
				<div class="col-sm-3" style=""> Select CoS Package</div>
				<div class="row" id="dataService_selectCos">
						<div class="radio col-sm-11 col-sm-offset-1">
							<label> <input type="radio" name="dataService_performanceCos_package" id="" value="Standard"> Standard</label>
						</div>
						<div class="radio col-sm-11 col-sm-offset-1">
							<label> <input type="radio" name="dataService_performanceCos_package" id="" value="Multimedia Standard"> Multimedia Standard</label>
						</div>
						<div class="radio col-sm-11 col-sm-offset-1">
							<label> <input type="radio" name="dataService_performanceCos_package" id="" value="Multimedia High"> Multimedia High</label>
						</div>
						<div class="radio col-sm-11 col-sm-offset-1">
							<label> <input type="radio" name="dataService_performanceCos_package" id="" value="Business Data"> Business Data</label>
						</div>
						<div class="radio col-sm-11 col-sm-offset-1">
							<label> <input type="radio" name="dataService_performanceCos_package" id="" value="Critical Data"> Critical Data</label>
						</div>
				</div>	
			</div>
				
		 </div> 
		 <div class="row">
		     <div class="col-sm-3 " style=""><input type="checkbox" id="dataService_managedRouter" name="dataService_managedRouter" value="Managed Router"> Managed Router</div>
		     <div class="clearfix"></div>
		     	<div id="dataService_managedRouter_features" style="display: none;">
				    <div class="col-sm-3" style=""> Choose your Router Options</div>
						<div class="row" id="dataService_selectCos">
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="dataService_managedRouter_required" id="" value="Small"> Small</label>
								</div>
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="dataService_managedRouter_required" id="" value="Basic"> Basic</label>
								</div>
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="dataService_managedRouter_required" id="" value="Medium"> Medium</label>
								</div>
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="dataService_managedRouter_required" id="" value="Large"> Large</label>
								</div>
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="dataService_managedRouter_required" id="" value="Extra Large"> Extra Large</label>
								</div>
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="dataService_managedRouter_required" id="" value="Business in a Box"> Business in a Box</label>
								</div>
						</div>
				</div>		
		 </div> 
		 <div class="row">
		    <div class="col-sm-3 " style=""><input type="checkbox" disabled="disabled" id="dataService_Unilink" name="dataService_Unilink" value=""> Unilink</div>
		 </div> 
		 <div class="row">
		    <div class="col-sm-3 " style=""><input type="checkbox" disabled="disabled" id="dataService_Multicast" value=""> Multicast</div>
		 </div> 
		 <div class="row">
		    <div class="col-sm-3 " style=""><input type="checkbox" disabled="disabled" id="dataService_LoadBalancing"value=""> Load Balancing</div>
		 </div> 
		 <div class="row">
		    <div class="col-sm-3 " style=""><input type="checkbox" id="dataService_diversityOptions" name="dataService_diversityOptions" value="Service Diversity Options"> Service Diversity Options</div>
		    <div class="clearfix"></div>
		    	<div id="dataService_diversityOptions_features" style="display: none;">
				    <div class="col-sm-3" style=""> Choose your Diversity Option</div>
						<div class="row" id="dataService_selectDiveristyOption">
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="dataService_diversityOption_required" id="dataService_diversityOption_required" value="POP"> POP</label>
								</div>
								<div class="radio col-sm-11 col-sm-offset-1">
									<label> <input type="radio" name="dataService_diversityOption_required" id="dataService_diversityOption_required" value="Service"> Service</label>
								</div>
						</div>
				</div>		
		 </div> 
		 
</div>