<!-- <div class="col-sm-12 div_miscService_tmpl" id="div_miscService"> -->
<div class="col-sm-12" id="div_miscService">
		
		<label for="name">Miscellaneous</label>
		
		 <div class="row">
		    <div class="col-sm-3 " style=""><input type="checkbox" id="miscService_Reporting" name="miscService_Reporting" value="Reporting"> Reporting</div>
		   	<div class="clearfix"></div>
		    <div id ="miscService_reporting_features" style="display: none;">
				<div class="col-sm-3 " style=""> Select your type of reporting</div>
				<div class="clearfix"></div>
					<div class="row" id="miscService_selectReporting">
					  <div class="row col-sm-offset-1"><input type="checkbox" id="miscService_selectMPLSPort" name="miscService_selectMPLSPort" value="MPLS Port Reports"> MPLS Port Reports</div>
					  <div class="row col-sm-offset-1"><input type="checkbox" id="miscService_selectManagedRouter" name="miscService_selectManagedRouter" value="Managed Router Reports"> Managed Router Reports</div>	
					  <div class="row col-sm-offset-1"><input type="checkbox" id="miscService_selectEnhanced" name="miscService_selectEnhanced" value="Enhanced Reports"> Enhanced Reports</div>
					  <div class="row col-sm-offset-1"><input type="checkbox" id="miscService_selectCos" name="miscService_selectCos" value="Class of Service Reports"> Class of Service Reports</div>
					  <div class="row col-sm-offset-1"><input type="checkbox" id="miscService_selectFirewall" name="miscService_selectFirewall" value="Firewall Reports"> Firewall Reports</div>
					</div>
				</div>	
		 </div> 
		  
</div>