
 <div id="div_dataService" class="container-fluid">
 	<div class="clearfix"></div>
	<div class="row"><label class=""> Data</label></div> 
     {{each(i, item) objectToDataTemplate}}
     <div class="clearfix"></div>
     <!-- <div class="row"> -->
         <div class="checkbox col-sm-3" style=""><input type="checkbox" id="dataService_${i}" name="dataService_${i}" value="${i}"/>${i}</div> <!--  Performance level with check box -->
	        <div class="clearfix"></div>
		         	<div style="display:none;" id="dataService_${i}_features">
		         {{each(j, subItem) item}}
		         	
		         		<div class=" col-sm-3" style="">${j}</div> <!-- select your cos Type Level -->
			         	{{each(k, subSubItem) subItem}}
			         		<div class="radio col-sm-11 col-sm-offset-1">
								<label> <input type="radio" name="dataService_${j}" id="" value="${subSubItem}"> ${subSubItem}</label> <!-- inner most level -->
							</div>
			         	{{/each}}
			         
		         {{/each}}
	       </div>	
    <!--   </div>  -->  
    {{/each}}
</div>
 
 