<div class="col-sm-12">
		<label for="name">What type of Services would you like at these sites?</label>
		<div class="clearfix"></div>
		(select all sites that have the same feature needs)
	<div id="div_services" class="div_services">
	  <div class="row">
	    <div class="col-sm-2 " style=""><input type="checkbox" name="dataService" id="dataService" value="data"> Data</div>
	    <div class="col-sm-2 " style=""><input type="checkbox" disabled="disabled" name="voiceService" id="voiceService" value="voice"> Voice</div>
	    <div class="col-sm-2 " style=""><input type="checkbox" name="securityService" id="securityService" value="securityservice"> Security Services</label></div>
	    <div class="col-sm-2 " style=""><input type="checkbox" name="miscService" id="miscService" value="misc"> Misc.</label></div>
	    <div class="clearfix"></div>
	  </div>
	  
	   <div class="row">
	    <div class="col-sm-2 " style=""><input type="checkbox" disabled="disabled" name="hostingService" id="hostingService" value="hosting"> Hosting</div>
	    <div class="col-sm-2 " style=""><input type="checkbox" disabled="disabled" name="cloudService" id="cloudService" value="cloud"> Cloud</div>
	    <div class="col-sm-2 " style=""><input type="checkbox" disabled="disabled" name="entertainmentService" id="entertainmentService" value="entertainment"> Entertainment</div>
	    <div class="col-sm-2 " style=""></div>
	  </div>
	</div>	
	 <div class="col-sm-3 col-sm-offset-8" id="serviceFeaturesApplyBtnDiv">
	 <div class="" id="divSubmitAlert"></div>
				<input type="button" id="btnApplyServiceFeatureOptions"  name="btnApplyServiceFeatureOptions" class="btn btn-primary btn-block" value="Apply">
				<input type="button" id="btnProceedToResults"  name="btnProceedToResults" disabled="disabled" class="btn btn-primary btn-block" value="Proceed To Results">
				
	</div>
	 
</div>


