<script>
var blnBvoipNeeded = false;
$(document).ready(function() {
	$("#bvoipNeeded").click(function() {
		if ($(this).prop('checked')) {
			blnBvoipNeeded = true;
			$("#showDivBvoipFeature").css('display', 'inline');
		} else {
			blnBvoipNeeded = false;
			$("#showDivBvoipFeature").css('display', 'none');
		}
	});

	$("#securityNeeded").click(function() {
		if ($(this).prop('checked')) {
			$("#securityFeatureDiv").css('display', 'inline');
		} else {
			$("#securityFeatureDiv").css('display', 'none');
		}
	});
});
</script>

<div class="container-fluid" id="divShoppingCartTemplate">
		<div class="row" style="text-align: left;">
			<div class="col-sm-6">
				<label style="font-size: 22px;">My Cart Details</label>
			</div>
			<div class=col-sm-6>
				<input type="button" value="Back To Offers" id="btnGoBackToOffers" class="btn btn-primary col-sm-offset-3" onclick="goBackToOffers();">
			</div>
		</div>
		<hr>
		<div class="row">
		<div class="col-sm-6">
		{{each(i, item) $data}}
			{{if (i == 'DESIGN NAME')}}
				<strong style="font-size: 22px;">1. ${item} &nbsp;<span class="glyphicon glyphicon-trash" ></span></strong> <br>
			{{/if}}	
		{{/each}}
		
			{{each(i, item) $data}}
				{{if (i == 'ACCESS BANDWIDTH')}}
					{{if (i == 'ACCESS BANDWIDTH')}}
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${item}
					{{/if}}
				{{/if}}	
			{{/each}}
			
		</div>

		<div class="col-sm-6">
			{{each(i, item) $data}}
			{{if (i == 'MRC')}}
				<strong style="font-size: 22px;">${item}</strong> <br>Effective monthly charge
			{{/if}}	
		{{/each}}
		</div>
		</div>
		<br>
		<div class="row col-sm-10" >
		<div class="col-sm-6">
		<strong style="font-size: 18px;">Oppurtunity & Configuration options</strong>
		</div>
		<div class="col-sm-12">
		<table class="table table-striped">
			<tr>
				<td>OPPORTUNITY ID</td>
				<td>1-67YHJK&nbsp;<BR>
					<a href="#">Edit Opportunity</a>
				</td>
			</tr>
			{{each(i, item) $data}}
							{{if ( i == 'IP VERSION' || i == 'MANAGED ROUTER' || i == 'PORT SPEED') }}
								{{if (i == 'IP VERSION' || i == 'PORT SPEED') }}
									{{if (i == 'IP VERSION') }}
										<tr>
											<td> ${i} </td>
											<td id="displayIpVersionTd"> 
										    	${item}
		    								 </td>
		    							</tr>
		    						{{else}}
		    							<tr>
											<td> ${i} </td>
											<td id="displayPortSpeedList"> 
										    	${item}
		    								 </td>
		    							</tr>
		    						{{/if}}		
								{{else}}
								<tr>
									<td> ${i} </td>
									<td id="displayManagedRouterType">
										${item}
										</td>
								</tr>	
								{{/if}}
							{{else}}
								{{if (i =='MRC' || i=='NRC') }}
									{{if i == 'MRC'}}
									<tr>
										<td> ${i} </td>
										<td id="displayMRC"> ${item} </td>
									</tr>
									{{else}}
									<tr>
										<td> ${i} </td>
										<td id="displayNRC"> ${item} </td>
									</tr>
									{{/if}}	
								{{else}}
									{{if (i =='TERM' || i=='TERM') }}
										<tr>
											<td>TERM</td>
											<!-- <td id="displayContractTermList">${item}</td> -->
											<td id="displayContractTermList">12 Months</td>
										</tr>
									{{else}}	
									{{if i =='ACCESS TYPE' }}
										<tr>
											<td> ${i} </td>
											<!-- <td id="displayContractTermList">${item}</td> -->
											<td>Ethernet</td>
										</tr>
									{{else}}
										{{if i == "OFFER NAME" }}
											<tr>
												<td> ${i} </td>
												<td id="offerNameValue"> ${item} </td>
											</tr>
										{{else}}
										<tr>
											<td> ${i} </td>
											<td> ${item} </td>
										</tr>
									{{/if}}
									{{/if}}
									{{/if}}		
								{{/if}}	
							{{/if}}	
						{{/each}}
						</table>
						<strong style="font-size: 18px;">Additional Features</strong>
						<div class="col-sm-12">
						<table class="table table-striped">
						<tr>
							<td>Add Voice Feature? &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="bvoipNeeded" id="bvoipNeeded"> Yes
							</td>
							<td>
							<div class="row">
								<div class="col-sm-1">
									
								</div>
								<div class="col-sm-8" id="showDivBvoipFeature" style="display: none;">
										Calling Plan <select name="bvoipVoiceFeature" class="form-control"
											id="selectBvoipVoiceFeature" style="width: 60%;">
											<option value="callingPlanB">Calling Plan B</option>
											<option value="CallingPlanC">Calling Plan C</option>
										</select>
										Concurrent calls <input type="text" placeholder="6" id="txtConcurrentCall"
											class="form-control" style="width: 60%;">
								</div>
							</div>
							</td>
						</tr>
						<tr>
							<td>Add Security Feature? &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="securityNeeded" id="securityNeeded"> Yes
							</td>
						<td>
							<div class="row">
								<div class="col-sm-1">
									
								</div>
								<div class="col-sm-8" id="securityFeatureDiv" style="display: none;">
										<select name="securityFeature" class="form-control" id="securityFeatureSelect" style="width:60%;">
											<option value="cloudBasedSecurity">Cloud Based Security
											<option value="firewall">Firewall
											<option value="wirelessBasedSecurity">Wireless Based Security
										</select>
								</div>
							</div>
						</td>
						</tr>
						</table>
						</div>
		</div>
		<div class="clearfix col-sm-12" style="text-align: center;">
		<hr>
			You have currently one Item in the cart.<br>
		<hr>
		</div>
		
	</div>
	<div class="row col-sm-10" >
		<button type="button"  id="btnCustomizeShoppingCart" class="btn btn-primary" onclick="onClickCustomizeShoppingCart();" style="float: left;">Edit My Cart <span class="glyphicon glyphicon-shopping-cart"></span></button>
		<input type="button" value="Checkout & Generate Contract" id="btnCheckoutGenContract" class="btn btn-primary" onclick="onClickCheckoutAndGenContract();" style="float: right;">
	</div>
</div>