<div class="row" id="simplePopupModal">
	<!-- Trigger the modal with a button -->
	<button type="button" id="simplePopupModalButton"
		style="display: none;" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
		data-target="simplePopupModal">Open Modal</button>
	<!-- Modal -->
	<div class="modal fade" id="simplePopupModal" role="dialog">
		<div class="modal-dialog" style="left:-7.0%;">
			<!-- Modal content-->
			<div class="modal-content" style="width:800px;">
				<div class="modal-header" style="text-align:center">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Offer Design Details</h4>
				</div>
				<div class="modal-body">
					<h4>Design Parameters</h4>
				   </div>
				<div class="modal-footer" style="text-align:center" id="modal-footer">
				</div>
			</div>
		</div>
	</div>
</div>