<script>
	$(document).ready(function() {
		$("#stepWizardLink").click(function(event) {
			event.preventDefault();
			location.hash = "#stepWizard";
		});

		$("input[name='ACCESS_TYPE_ID']").click(function() {
			var accessType = $(this).val().split("_")[0];
			var accessSpeed = $(this).val().split("_")[1];
			displayDataGridWithTop5Records(accessType, accessSpeed);
		});

		$("input[name='btnAddToCart']").on('click', function(e) {
			var designName = $(this).attr('design-name');
			var speed = $(this).attr('speed');
			var mrc = $(this).attr('mrc');
			var url = $(this).attr('link');
			displayConfirmModalAddToCart(designName, speed, mrc, url);
		});

		$("input[name='btnCustomize']").on('click', function(e) {
			var designName = $(this).attr('design-name');
			var speed = $(this).attr('speed');
			var mrc = $(this).attr('mrc');
			var url = $(this).attr('link');
			var name = $(this).attr('name');
			displayConfirmModalAddToCart(designName, speed, mrc, url, name);
		});

	});
</script>

<!-- <div class="row">
	<div class="col-sm-2 col-sm-offset-10">
		<a href="#" data-name="solutionTemplate" data-url="stepWizard"
			class="btn-block" id="stepWizardLink">Customize</a>
	</div>
</div> -->
<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-sm-6">
		<label style="font-size: 18px">Our Top Selling Offers</label>
	</div>
	<div class="col-sm-4">
		<strong style="color: black; font-size: 20px">Sales Historical Data</strong><br>
	</div>
	<div class="col-sm-2">
		<a href="#" data-name="solutionTemplate" data-url="stepWizard"
			class="btn-block" id="stepWizardLink">Customize</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-6">
				<div class="jumbotron"
					style="background-color: #33ccff; color: black; height: 325px; font-size: 17px; border: 1px solid; border-radius: 25px;">
					<div class="row" style="color: white; text-align: center;">
						MIS Express
					</div>
					<div class="row" style="color: white; text-align: center;font-size: 18px; font-weight: bold;">
						10 Mbps Speed
					</div>
					<div class="row" style="color: white; text-align: center;">AT&amp;T
						Managed Router</div>
					<div class="row" style="color: white; text-align: center;">
						$2500 of OTC
					</div>
					<div class="row" style="color: white; text-align: center;font-size: 18px; font-weight: bold;">
						$ 1419
					</div>
					<div class="row" style="color: white; text-align: center; font-size: 14px;font-weight: bold;">Effective Monthly Price</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<input speed="10 Mbps" name="btnAddToCart" type="button"
								style="background-color: #efefef;color: black; border: 1px solid;"
								design-name="MIS Express" class="btn btn-block"
								value="Add To Cart" mrc="1419"
								link="http://localhost:2222/salesHistory/getSalesHistoryOrderDetailBySiteIdLeadDesignId?siteId=5129784&amp;leadDesignId=5993843">
						</div>
					</div>
					<div class="row" style="margin-top: 10px">
						<!-- <div _tmplitem="2"  class="col-sm-8 col-sm-offset-2">        <input _tmplitem="2"  link="http://IBMADM-VG8736.ITServices.sbc.com:2222/salesHistory/getSalesHistoryOrderDetailBySiteIdLeadDesignId?siteId=5129784&leadDesignId=5993843" name="btnViewLink" type="button" style="color: black; background-color: #f2f2f2;" matchPercentage="62.96"         class="btn" value="View Offer Details" >       </div> -->
						<div class="col-sm-8 col-sm-offset-2">
							<input
								link="http://localhost:2222/salesHistory/getSalesHistoryOrderDetailBySiteIdLeadDesignId?siteId=5129784&amp;leadDesignId=5993843"
								name="btnCustomize" type="button"
								style="background-color: #efefef;color: black; border: 1px solid;"
								matchpercentage="62.96" class="btn btn-block" value="Customize"
								mrc="1419" design-name="MIS Express" speed="10 Mbps">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="jumbotron"
					style="background-color: #33ccff; color: black; height: 325px; font-size: 17px; border: 1px solid; border-radius: 25px;">
					<div class="row" style="color: white; text-align: center;">
						VVB Express
					</div>
					<div class="row" style="color: white; text-align: center;font-size: 18px; font-weight: bold;">
						10 Mbps Speed
					</div>
					<div class="row" style="color: white; text-align: center;">AT&amp;T
						Managed Router</div>
					<div class="row" style="color: white; text-align: center;">
						$3750 of OTC
					</div>
					<div class="row" style="color: white; text-align: center;font-size: 18px; font-weight: bold;">
						$ 2128.5
					</div>
					<div class="row" style="color: white; text-align: center; font-size: 14px; font-weight: bold;">Effective Monthly Price</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<input speed="10 Mbps" name="btnAddToCart" type="button"
								style="background-color: #efefef;color: black; border: 1px solid;"
								design-name="VVB Express" class="btn btn-block"
								value="Add To Cart" mrc="2128.5"
								link="http://localhost:2222/salesHistory/getSalesHistoryOrderDetailBySiteIdLeadDesignId?siteId=5229783&amp;leadDesignId=5993843">
						</div>
					</div>
					<div class="row" style="margin-top: 10px">
						<!-- <div _tmplitem="2"  class="col-sm-8 col-sm-offset-2">        <input _tmplitem="2"  link="http://IBMADM-VG8736.ITServices.sbc.com:2222/salesHistory/getSalesHistoryOrderDetailBySiteIdLeadDesignId?siteId=5229783&leadDesignId=5993843" name="btnViewLink" type="button" style="color: black; background-color: #f2f2f2;" matchPercentage="62.96"         class="btn" value="View Offer Details" >       </div> -->
						<div class="col-sm-8 col-sm-offset-2">
							<input
								link="http://localhost:2222/salesHistory/getSalesHistoryOrderDetailBySiteIdLeadDesignId?siteId=5229783&amp;leadDesignId=5993843"
								name="btnCustomize" type="button"
								style="background-color: #efefef;color: black; border: 1px solid;"
								matchpercentage="62.96" class="btn btn-block" value="Customize"
								mrc="2128.5" design-name="VVB Express" speed="10 Mbps">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div style="height: 325px; width: 650px;">
			<canvas id="myChart"></canvas>
		</div>
	</div>
</div>