<script>
	$(document).ready(function() {
		$("#stepWizardLink").click(function(event) {
			event.preventDefault();
			location.hash = "#stepWizard";
		});

		$("input[name='ACCESS_TYPE_ID']").click(function() {
			var accessType = $(this).val().split("_")[0];
			var accessSpeed = $(this).val().split("_")[1];
			displayTopRecommendations(accessType, accessSpeed);
		});

		$("input[name='btnAddToCart']").on('click', function(e) {
			var designName = $(this).attr('design-name');
			
			if ('Flexware' == designName ) {
				var deviceId = $(this).attr('speed');
				var mrc = $(this).attr('mrc');
				var url = $(this).attr('link');
				displayConfirmModalAddToCart(designName, deviceId, mrc, url);	
			}
			else {
				var speed = $(this).attr('speed');
				var mrc = $(this).attr('mrc');
				var url = $(this).attr('link');
				displayConfirmModalAddToCart(designName, speed, mrc, url);				
			}
		});

		$("input[name='btnCustomize']").on('click', function(e) {
			var designName = $(this).attr('design-name');
			var speed = $(this).attr('speed');
			var mrc = $(this).attr('mrc');
			var url = $(this).attr('link');
			var name = $(this).attr('name');
			displayConfirmModalAddToCart(designName, speed, mrc, url, name);
		});

	});
</script>
<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-sm-6">
		<label style="font-size: 18px">Our Top Selling Offers</label>
	</div>
	<div class="col-sm-4">
		<strong style="color: black; font-size: 20px">Sales Historical Data</strong><br>
	</div>
	<div class="col-sm-2">
		<a href="#" data-name="topCustomerSolutions" data-url="stepWizard"
			class="btn-block" id="stepWizardLink">Customize</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-6">
				<div class="jumbotron"
					style="background-color: #ff9900; color: black; border: 1px solid; border-radius: 25px; padding-bottom: 20px; padding-top: 20px;">
					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 18px;">${data["DATA"][0]["bundleCd"]}</span>
						<hr style="width: 60%; margin-top: 1px;margin-bottom: 1px">
					</div>					
					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 22px; font-weight: bold;">${data["DATA"][0]["portSpeed"]}</span>
						<hr style="width: 60%; margin-top: 1px;margin-bottom: 1px">
					</div>
					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 17px;">${data["DATA"][0]["managedRouter"]}</span>
						<hr style="width: 60%; margin-top: 1px;margin-bottom: 1px">
					</div>					

					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 17px;">$${data["DATA"][0]["nrc"]} of OTC</span>
					</div>
					<div class="row" style="color: white; text-align: center;font-size: 22px; font-weight: bold;">
						$${data["DATA"][0]["mrc"]}
					</div>
					<div class="row" style="color: white; text-align: center; font-size: 14px;font-weight: bold;">Effective Monthly Price</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<input speed="${data['DATA'][0]['portSpeed']}" name="btnAddToCart"
								type="button"
								style="color: black; background-color: #efefef; border: 1px solid;"
								design-name="${data['DATA'][0]['bundleCd']}" class="btn btn-block"
								value="Add To Cart" mrc="${data['DATA'][0]['mrc']}"
								link="${data['DATA'][0]['links'][0]['href']}">
						</div>
					</div>
					<div class="row" style="margin-top: 10px">
						<div class="col-sm-8 col-sm-offset-2">
							<input link="${data['DATA'][0]['links'][0]['href']}"
								name="btnCustomize" type="button"
								style="background-color: #efefef; border: 1px solid;"
								matchPercentage="${data['DATA'][0]['matchPercentage']}"
								class="btn btn-block" value="Customize"
								mrc="${data['DATA'][0]['mrc']}"
								design-name="${data['DATA'][0]['bundleCd']}"
								speed="${data['DATA'][0]['portSpeed']}">
								
						</div>
					</div>
				</div>
			</div>

 			<div class="col-sm-6">
				<div class="jumbotron"
					style="background-color: #33ccff; color: black; border: 1px solid; border-radius: 25px; padding-bottom: 20px; padding-top: 20px;">
					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 18px;">FLEXWARE</span>
						<hr style="width: 60%; margin-top: 1px;margin-bottom: 1px">
					</div>					
					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 22px; font-weight: bold;">${data["DATA"][1]["vnfId"]}</span>
						<hr style="width: 60%; margin-top: 1px;margin-bottom: 1px">
					</div>
					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 17px;">${data["DATA"][1]["managementType"]} Managed</span>
						<hr style="width: 60%; margin-top: 1px;margin-bottom: 1px">
					</div>					

					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 17px;">External Rate Id ${data["DATA"][1]["externalRateId"]}</span>
					</div>
					<div class="row" style="color: white; text-align: center;font-size: 22px; font-weight: bold;">
						$${data["DATA"][1]["rate"]}
					</div>
					<div class="row" style="color: white; text-align: center; font-size: 14px;font-weight: bold;">Effective Monthly Price</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<input name="btnAddToCart"
								type="button"
								style="color: black; background-color: #efefef; border: 1px solid;"
								design-name="Flexware" class="btn btn-block" speed="${data['DATA'][1]['vnfId']}"
								value="Add To Cart" mrc="${data['DATA'][1]['rate']}"
								link="${data['DATA'][1]['links'][0]['href']}">
						</div>
					</div>
					<div class="row" style="margin-top: 10px">
						<div class="col-sm-8 col-sm-offset-2">
							<input link="${data['DATA'][1]['links'][0]['href']}"
								name="btnCustomize" type="button"
								style="background-color: #efefef; border: 1px solid;"
								matchPercentage="${data['DATA'][1]['matchPercentage']}"
								class="btn btn-block" value="Customize"
								mrc="${data['DATA'][1]['rate']}"
								design-name="Flexware" speed="${data['DATA'][1]['vnfId']}">								
						</div>
					</div>
				</div>
			</div> 	


<!-- 			<div class="col-sm-6">
				<div class="jumbotron"
					style="background-color: #33ccff; color: black; border: 1px solid; border-radius: 25px; padding-bottom: 20px; padding-top: 20px;">
					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 18px;">${data["DATA"][1]["bundleCd"]}</span>
						<hr style="width: 60%; margin-top: 1px;margin-bottom: 1px">
					</div>					
					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 22px; font-weight: bold;">${data["DATA"][1]["portSpeed"]}</span>
						<hr style="width: 60%; margin-top: 1px;margin-bottom: 1px">
					</div>
					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 17px;">${data["DATA"][1]["managedRouter"]}</span>
						<hr style="width: 60%; margin-top: 1px;margin-bottom: 1px">
					</div>					

					<div class="row" style="text-align: center;">
						<span style="color: white;font-size: 17px;">$${data["DATA"][1]["nrc"]} of OTC</span>
					</div>
					<div class="row" style="color: white; text-align: center;font-size: 22px; font-weight: bold;">
						$${data["DATA"][1]["mrc"]}
					</div>
					<div class="row" style="color: white; text-align: center; font-size: 14px;font-weight: bold;">Effective Monthly Price</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<input speed="${data['DATA'][1]['portSpeed']}" name="btnAddToCart"
								type="button"
								style="color: black; background-color: #efefef; border: 1px solid;"
								design-name="${data['DATA'][1]['bundleCd']}" class="btn btn-block"
								value="Add To Cart" mrc="${data['DATA'][1]['mrc']}"
								link="${data['DATA'][1]['links'][0]['href']}">
						</div>
					</div>
					<div class="row" style="margin-top: 10px">
						<div class="col-sm-8 col-sm-offset-2">
							<input link="${data['DATA'][1]['links'][0]['href']}"
								name="btnCustomize" type="button"
								style="background-color: #efefef; border: 1px solid;"
								matchPercentage="${data['DATA'][1]['matchPercentage']}"
								class="btn btn-block" value="Customize"
								mrc="${data['DATA'][1]['mrc']}"
								design-name="${data['DATA'][1]['bundleCd']}"
								speed="${data['DATA'][1]['portSpeed']}">
								
						</div>
					</div>
				</div>
			</div>  -->
		</div>
	</div>
	<div class="col-sm-6">
		<div style="height: 325px; width: 650px;">
			<canvas id="myChart"></canvas>
		</div>
	</div>

</div>