<script>
$(document).ready(function () {	
  initializeStepWizard();
	
  var navListItems = $('div.setup-panel div a'),
          allWells = $('.setup-content'),
          allNextBtn = $('.nextbtn');

  allWells.hide();

  navListItems.click(function (e) {
      e.preventDefault();
      var $target = $($(this).attr('href')),
              $item = $(this);

      if (!$item.hasClass('disabled')) {
          navListItems.removeClass('btn-primary').addClass('btn-default');
          $item.addClass('btn-primary');
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
      }
  });

  $("#stepContentForm").on("click", function(e) {
  	onStepContentFormClick(e);
  });
  
  $(".stepwizard").on("click", function(e) {
  	onStepWizardClick(e);
  });
  
  $( "#topCustomerSolutions" ).click(function( event ) {
	    event.preventDefault();
	    location.hash = "#topCustomerSolutions";
  });

  allNextBtn.on(function(){
      var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
          curInputs = curStep.find("input[type='text'],input[type='url']"),
          isValid = true;

      $(".form-group").removeClass("has-error");
      for(var i=0; i<curInputs.length; i++){
          if (!curInputs[i].validity.valid){
              isValid = false;
              $(curInputs[i]).closest(".form-group").addClass("has-error");
          }
      }

      if (isValid)
          nextStepWizard.removeAttr('disabled').trigger('click');
		  onNextButtonClick($(this));
	});
	
	$('div.setup-panel div a.btn-primary').trigger('click');
	
});

</script>

<script id="stepwizard-step-template" type="text/html">
      <div class="stepwizard-step">
        <a href="#" type="button" class="btn btn-default btn-circle" name="btnSolutionTemplateSteps">${quesSeqId}</a>
        <p>${mydesc}</p>
      </div>
</script>

<script id="stepwizard-step-template-content-radio" type="text/x-jquery-tmpl">
<div class="row setup-content" id="step-${quesSeqId}">
    <div class="col-sm-11 col-sm-offset-1 ">
		&nbsp;
	</div>
	<div class="col-sm-offset-1 col-sm-3">
		${quesDesc}
	</div>
	<div class="col-sm-6 col-sm-offset-2">
		{{each salesSolTmplAns}}
			<!-- <div class="row"> -->
				<div class="col-sm-3 radio">
					<input type="radio" value="${ansDesc}" name="${quesColName}">${ansDesc}
				</div>
			<!-- </div> -->
		{{/each}}	
	</div>
	<div class="clearfix"></div>	
</div>
<div class="row">
	<hr>
	<div class="col-sm-1 col-sm-offset-1">
		{{if quesSeqId == 1}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}" disabled="disabled">Prev</button>
	    {{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}">Prev</button>
        {{/if}}
	</div>
	<div class="col-sm-1  col-sm-offset-8">
		{{if quesSeqId == numberOfQuestion}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}" disabled="disabled">Next</button>
		{{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}">Next</button>
        {{/if}}
	</div>
</div>
</script>

<script id="stepwizard-step-template-content-dropdown" type="text/html">
<div class="row setup-content" id="step-${quesSeqId}">
    <div class="col-sm-11 col-sm-offset-1 ">
		&nbsp;
	</div>
	<div class="col-sm-offset-1 col-sm-4">
		${quesDesc}
	</div>
	<div class="col-sm-2 col-sm-offset-1">
					<select id="solTmpl-${quesColName}" name="${quesColName}" class="form-control" >
							<option value="">select</option>
						{{each salesSolTmplAns}}
							<option value="${ansDesc}">${ansDesc}</option>
					    {{/each}}	
					</select>
	</div>
	<div class="clearfix"></div>	
</div>
<div class="row">
	<hr>
	<div class="col-sm-1 col-sm-offset-1">
		{{if quesSeqId == 1}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}" disabled="disabled">Prev</button>
	    {{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}">Prev</button>
        {{/if}}
	</div>
	<div class="col-sm-1  col-sm-offset-8">
		{{if quesSeqId == numberOfQuestion}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}" disabled="disabled">Next</button>
		{{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}">Next</button>
        {{/if}}
	</div>
</div>
</script>

<script id="stepwizard-step-template-content-checkbox" type="text/x-jquery-tmpl">
<div class="row setup-content" id="step-${quesSeqId}">
    <div class="col-sm-11 col-sm-offset-1 ">
		&nbsp;
	</div>
	<div class="col-sm-offset-1 col-sm-3">
		${quesDesc}
	</div>
	<div class="col-sm-6 col-sm-offset-2">
		{{each salesSolTmplAns}}
			<!-- <div class="row"> -->
				<div class="col-sm-3 radio">
					<input type="checkbox" value="${ansDesc}" name="${quesColName}">${ansDesc}
				</div>
			<!-- </div> -->
		{{/each}}	
	</div>
	<div class="clearfix"></div>	
</div>
<div class="row">
	<hr>
	<div class="col-sm-1 col-sm-offset-1">
		{{if quesSeqId == 1}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}" disabled="disabled">Prev</button>
	    {{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}">Prev</button>
        {{/if}}
	</div>
	<div class="col-sm-1  col-sm-offset-8">
		{{if quesSeqId == numberOfQuestion}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}" disabled="disabled">Next</button>
		{{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}">Next</button>
        {{/if}}
	</div>
</div>
</script>

<script id="stepwizard-step-template-content-finalresult" type="text/x-jquery-tmpl">
<div class="row setup-content" id="step-${quesSeqId}">
    <div class="col-sm-2 col-sm-offset-6">
		<h3><u>Final Result</u></h3>
	</div>
</div>
<div class="row">
	<hr>
	<div class="col-sm-1 col-sm-offset-1">
		{{if quesSeqId == 1}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}" disabled="disabled">Prev</button>
	    {{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}">Prev</button>
        {{/if}}
	</div>
	<div class="col-sm-1  col-sm-offset-8">
	</div>
</div>
</script>


<input type="hidden" name="numberOfQuestion" />

<div class="row">
	<div class="col-sm-6">
		<label>Please configure parameters for selection</label>
	</div>
	<div class="col-sm-3 col-sm-offset-3">
		<a href="#" id="topCustomerSolutions"><b>View Most Preferred Solutions</b></a>
	</div>	
</div>

<div class="stepwizard">
	<div class="stepwizard-row setup-panel" id="stepWizardId"></div>
</div>

<div id="stepContentForm">
	<form role="form" action="" method="post" class="form-horizontal"
		id="formId"></form>
</div>
