<script>
function highlightActiveStep(stepNumber) {
	
	$("#stepWizardId").find(".stepwizard-step").each(function(i) {
		var anchorObject = $(this).find('a');
		if ((i+1) == stepNumber) {
			anchorObject.addClass('btn-primary');
			anchorObject.removeClass('btn-default');
	    }
	    else {
	    	anchorObject.addClass('btn-default');
	    	anchorObject.removeClass('btn-primary');
	    }
	});
}

function initializeStepWizard() {
	var promise = httpAsyncPostWithJsonRequestResponse(contextPath + "/user/solutionTemplate/getAllQuestions", "{}");
	promise.done(function(data, textStatus, jqXHR ) {
		var stepWizardData = $("#stepwizard-step-template").tmpl(data);
		stepWizardData.appendTo("#stepWizardId");
		populateWizardElement(data[0].quesSeqId);
		$("input[name='numberOfQuestion']").val(data.length);
	})
	.fail(function(jqXHR, textStatus, errorThrown) {
		console.log(textStatus);
	});
};

function populateWizardElement(quesSeqId) {
	
	var jsonData = JSON.stringify({
		"QUES_SEQ_ID" : quesSeqId,
		"PRODUCT" : "MISPNT"
	});
	
	var promise = httpAsyncPostWithJsonRequestResponse(contextPath + "/user/solutionTemplate/getNextQuestion", jsonData);
	promise.done(function(data, textStatus, jqXHR) {
		data["numberOfQuestion"] = $("input[name='numberOfQuestion']").val();
		
		if (data.quesType != null && data.quesType == "RADIO_BUTTON") {
			var stepWizardDataContent = $("#stepwizard-step-template-content-radio").tmpl(data);
			$("#formId").empty();
			stepWizardDataContent.appendTo("#formId");
			//$('.nextbtn').trigger('create');
		}
		else if (data.quesType != null && data.quesType == "DROP_DOWN") {
			var stepWizardDataContent = $("#stepwizard-step-template-content-dropdown").tmpl(data);
			$("#formId").empty();
			stepWizardDataContent.appendTo("#formId");
		}
		else if (data.quesType != null && data.quesType == "CHECK_BOX") {
			var stepWizardDataContent = $("#stepwizard-step-template-content-checkbox").tmpl(data);
			$("#formId").empty();
			stepWizardDataContent.appendTo("#formId");
		}
		highlightActiveStep(quesSeqId);
	}).fail(function(jqXHR, textStatus, errorThrown) {
		console.log(textStatus);
	});
	
}

$(document).ready(function () {	
  initializeStepWizard();
	
  var navListItems = $('div.setup-panel div a'),
          allWells = $('.setup-content'),
          allNextBtn = $('.nextbtn');

  allWells.hide();

  navListItems.click(function (e) {
      e.preventDefault();
      var $target = $($(this).attr('href')),
              $item = $(this);

      if (!$item.hasClass('disabled')) {
          navListItems.removeClass('btn-primary').addClass('btn-default');
          $item.addClass('btn-primary');
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
      }
  });

  $("#stepContentForm").on("click", function(e) {
	  var eventSourceId = e.target.id;

	  if (eventSourceId.indexOf("btnNext-") >= 0) {
			var quesSeqId = eventSourceId.substring(eventSourceId.indexOf("-") + 1);
			quesSeqId++;
			populateWizardElement(quesSeqId);
	  }

	  if (eventSourceId.indexOf("btnPrev-") >= 0) {
			var quesSeqId = eventSourceId.substring(eventSourceId.indexOf("-") + 1);
			quesSeqId--;
			populateWizardElement(quesSeqId);
	  }  
  });
  
  $(".stepwizard").on("click", function(e) {
	  var eventSourceName = e.target.name;
	  
	  if ("btnSolutionTemplateSteps" == eventSourceName) {
		e.preventDefault();	
		var stepNumber = e.target.text; //stepNumber is designed to be same ad question sequence number
		populateWizardElement(stepNumber);
	  }
  });
  
  allNextBtn.on(function(){
      var curStep = $(this).closest(".setup-content"),
          curStepBtn = curStep.attr("id"),
          nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
          curInputs = curStep.find("input[type='text'],input[type='url']"),
          isValid = true;

      $(".form-group").removeClass("has-error");
      for(var i=0; i<curInputs.length; i++){
          if (!curInputs[i].validity.valid){
              isValid = false;
              $(curInputs[i]).closest(".form-group").addClass("has-error");
          }
      }

      if (isValid)
          nextStepWizard.removeAttr('disabled').trigger('click');
		  onNextButtonClick($(this));
	});
	
	$('div.setup-panel div a.btn-primary').trigger('click');

});

function onNextButtonClick($thisRef) {
	var currentButton = $thisRef
	var nextButtonId = $(currentButton).attr('id'); //Next button id in form btnNext-questionId
	var quesSeqId = nextButtonId.substring(nextButtonId.indexOf("-")+1);
	populateWizardElement(quesSeqId);
}

function getNextStepWizardData(label, div, quesId) {
	var jsonData = JSON.stringify({
		"QUES_SEQ_ID" : quesId,
		"PRODUCT" : "AVPN"
	});
	var promise = httpAsyncPostWithJsonRequestResponse(
			contextPath + "/user/solutionTemplate/getNextQuestion", jsonData);
	promise.done(function(data, textStatus, jqXHR) {
		if (data.quesType != null && data.quesType == "RADIO_BUTTON") {
			prepareRadioButtonElements(data, div, label);
		} else if (data.quesType != null && data.quesType == "DROP_DOWN") {
			prepareDropDownElements(data, div, label)
		}

	}).fail(function(jqXHR, textStatus, errorThrown) {
		console.log(textStatus);
	});
}

function prepareDropDownElements(data, divId, labelId) {
	$("#" + labelId).html(data.quesDesc);
	$("#" + divId).find('option').not(':first').remove();
	$.each(data.salesSolTmplAns, function(key, value) {
		var option = $('<option />').prop('value', value.ansSeqId).text(
				value.ansDesc);
		$("#" + divId).append(option);
	});

}

function prepareRadioButtonElements(data, divId, labelId) {
	$("#" + labelId).html(data.quesDesc);
	$("#" + divId).empty();
	$.each(data.salesSolTmplAns,function(key, value) {
		var radioEl = '<div class="row">'
						+ '<input type="radio" name="'+ data.quesColName +'" value="'+ value.ansDesc +'" id="'+value.ansSeqId +'" />'
						+ value.ansDesc + '</div>';
		$("#" + divId).append(radioEl);
	});
}
</script>

<script id="stepwizard-step-template" type="text/html">
      <div class="stepwizard-step">
        <a href="#" type="button" class="btn btn-default btn-circle" name="btnSolutionTemplateSteps">${quesSeqId}</a>
        <p>${quesColName}</p>
      </div>
</script>

<script id="stepwizard-step-template-content-radio" type="text/x-jquery-tmpl">
<div class="row setup-content" id="step-${quesSeqId}">
    <div class="col-sm-11 col-sm-offset-1 ">
		<label>${quesColName}</label>
	</div>
	<div class="col-sm-offset-1 col-sm-3">
		${quesDesc}
	</div>
	<div class="col-sm-6 col-sm-offset-2">
		{{each salesSolTmplAns}}
			<!-- <div class="row"> -->
				<div class="col-sm-3 radio">
					<input type="radio" value="${ansDesc}" name="${quesColName}">${ansDesc}
				</div>
			<!-- </div> -->
		{{/each}}	
	</div>
	<div class="clearfix"></div>	
</div>
<div class="row">
	<hr>
	<div class="col-sm-1 col-sm-offset-1">
		{{if quesSeqId == 1}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}" disabled="disabled">Prev</button>
	    {{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}">Prev</button>
        {{/if}}
	</div>
	<div class="col-sm-1  col-sm-offset-8">
		{{if quesSeqId == numberOfQuestion}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}" disabled="disabled">Next</button>
		{{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}">Next</button>
        {{/if}}
	</div>
</div>
</script>

<script id="stepwizard-step-template-content-dropdown" type="text/html">
<div class="row setup-content" id="step-${quesSeqId}">
    <div class="col-sm-11 col-sm-offset-1 ">
		<label>${quesColName}</label>
	</div>
	<div class="col-sm-offset-1 col-sm-4">
		${quesDesc}
	</div>
	<div class="col-sm-2 col-sm-offset-1">
					<select id="solTmpl-${quesColName}" name="${quesColName}" class="form-control" >
							<option value="">select</option>
						{{each salesSolTmplAns}}
							<option value="${ansDesc}">${ansDesc}</option>
					    {{/each}}	
					</select>
	</div>
	<div class="clearfix"></div>	
</div>
<div class="row">
	<hr>
	<div class="col-sm-1 col-sm-offset-1">
		{{if quesSeqId == 1}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}" disabled="disabled">Prev</button>
	    {{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}">Prev</button>
        {{/if}}
	</div>
	<div class="col-sm-1  col-sm-offset-8">
		{{if quesSeqId == numberOfQuestion}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}" disabled="disabled">Next</button>
		{{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}">Next</button>
        {{/if}}
	</div>
</div>
</script>

<script id="stepwizard-step-template-content-checkbox" type="text/x-jquery-tmpl">
<div class="row setup-content" id="step-${quesSeqId}">
    <div class="col-sm-11 col-sm-offset-1 ">
		<label>${quesColName}</label>
	</div>
	<div class="col-sm-offset-1 col-sm-3">
		${quesDesc}
	</div>
	<div class="col-sm-6 col-sm-offset-2">
		{{each salesSolTmplAns}}
			<!-- <div class="row"> -->
				<div class="col-sm-3 radio">
					<input type="checkbox" value="${ansDesc}" name="${quesColName}">${ansDesc}
				</div>
			<!-- </div> -->
		{{/each}}	
	</div>
	<div class="clearfix"></div>	
</div>
<div class="row">
	<hr>
	<div class="col-sm-1 col-sm-offset-1">
		{{if quesSeqId == 1}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}" disabled="disabled">Prev</button>
	    {{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnPrev-${quesSeqId}">Prev</button>
        {{/if}}
	</div>
	<div class="col-sm-1  col-sm-offset-8">
		{{if quesSeqId == numberOfQuestion}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}" disabled="disabled">Next</button>
		{{else}}
			<button class="btn btn-primary btn-block nextbtn" type="button" id="btnNext-${quesSeqId}">Next</button>
        {{/if}}
	</div>
</div>
</script>

<input type="hidden" name="numberOfQuestion" />

<div class="row">
	<div class="col-sm-12">
		<label>Please configure parameters for selection</label>
	</div>
</div>

<div class="stepwizard">
	<div class="stepwizard-row setup-panel" id="stepWizardId"></div>
</div>

<div id="stepContentForm">
	<form role="form" action="" method="post" class="form-horizontal"
		id="formId"></form>
</div>
