.salesexpress-empty-row {
	border: 0px;
	box-shadow: unset;
}

.salesexpress-line-space {
		margin-top: 20px;
}
.salesexpress-no-border {
	border: 0px;
}
.salesexpress-no-box-shadow {
	box-shadow: unset;
}

.sachmenuitem {
        border-right: 1px solid #ccccff;
        border-bottom: 1px solid white;
        background-color: #337ab7;
        text-align: center;
        color: white;
        font-size: 100%;
        padding-left: 5px;
        padding-right: 5px;
}

.sachfootermenuitem {
	background-color: white;
	color: black;
	font-size: 100%;
	border-top: 1px solid #cccfff;
	text-align: center;        
}
.sachmenuitemactive {
    padding-left: 5px;
    padding-right: 5px;
	border-right: 1px solid #ccccff;
	border-bottom: 1px solid white;
	background-color: #3399ff;
	text-align: center;
	color: white;
	font-size: 100%;
}

#sachgooglemapdiv {
	height: -webkit-calc(100vh - (50px + 50px + 10px));
	height: -moz-calc(100vh - (50px + 50px + 10px));
	height: calc(100vh - (50px + 50px + 10px));
	overflow: hidden;
	padding: 0;
	float: left;
	width: 100%;
}

.sachgooglemapdivclass {
	position: relative; 
	overflow: hidden; 
	transform: translateZ(0px); 
	background-color: rgb(229, 227, 223);	
}


#map-canvas {
	margin: 20px 0;
	padding: 0;
	height: 300px;
}

.sachbuttonsonmap {
   position: fixed;
left: 50%;
top: 80%;
background-color: white;
z-index: 100;
height: 50px;
width: 500px;
left: calc((100% - 225px)/2);

 display: table;
}
.button-wrapper {
    background: white;
    display: table-cell;
    vertical-align: middle;
    height:50px;
}


@media (min-width: 767px) {
	.salesexpress-content-margin {
		margin-top: 60px;
	}
	
	.sachgooglemapdivrow {
		margin-top: 50px;
	}

	.sachtopmenu {
		line-height: 50px; 
		height: 50px;
		position: fixed; 
		width:calc(100% - 225px);
		z-index: 999;
		/* -moz-box-shadow: 0 0 10px white;
		box-shadow: 0 0 10px white; */
	}
	
	.sachbottommenu {
		line-height: 50px; 
		height: 50px;
		position: fixed; 
		width:calc(100% - 225px);
		z-index: 999;
		-moz-box-shadow: 0 0 10px white;
		box-shadow: 0 0 10px white; 
		bottom: 0px; 
	}		
}

.sachbtn {
    white-space: normal;
}

@media (min-width: 768px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 4px;
    line-height: 1.2;
  }
}

.option-space{
	padding-left:1em;
	font-size:40px;
}
.tab-space{
	padding-left:1em;
}

#showPackages {
		margin-top: 70px;
}

/*sachin*/
footer.navbar-default.navbar-fixed-bottom
{
      background:white;
      color:black;
      /* padding:1em 0; sachin commneted from original copied code*/
      height: 60px;
}
/* footer.navbar-default.navbar-fixed-bottom p
{
      margin:0;
} */
/*sachin*/
#accessSpeedConfigPlaceholder {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: 60px;
}
#serviceFeaturesConfigPlaceHolder {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: 60px;
}
.ribbon {
   position: absolute;
   right: 11px; top: 90px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px; 
   text-align: right;
}
.ribbon span {
   font-size: 10px;
   color: #fff; 
   text-transform: uppercase; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(45deg);
   width: 100px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -21px;
}
.ribbon span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.red span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
.red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

/*
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	right: 0;
	height: 60px;
}
 *//*# sourceMappingURL=bootstrap.css.map */

.ajaxLoading {  
  cursor: progress !important;  
} 